.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadImage {
  height: 100px;
  width: 100px;
  border: 1px dashed black;
  cursor: pointer;
}
