.LoginData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .LoginData h4 {
    margin: 20px auto;
    color: rgb(46, 20, 117);
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
  }
  
  @media (min-width: 600px) {
    .LoginData {
      width: 500px;
    }
  }

  .Box {
    margin: 20px auto;
    width: 98%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .displayLineBreak {
    white-space: pre-line;
  }
  
  .View {
    padding: 10px;
    margin: 25px 43px;
    width: 700px;
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
  }
  
  @media (max-width: 700px) {
    .Box .View {
      width: 500px;
    }
  }
  