.Home h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: blue;
}

.Box{
    padding: 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px #ccc;
    box-sizing: border-box;
}

@media(max-width: 500px){
    .Box{
        margin-left: 100px;
     } 
}

.BoxInner {
    padding: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px #ccc;
    box-sizing: border-box;
  }

  @media(max-width: 500px){
    .BoxInner{
       margin: auto;
     } 
}
  
  .Column {
    float: left;
    width: auto;
    padding: 10px;
  }
  
  .Row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .Foot{
	margin-left: 0px;
	margin-top: 400px;
	background: black;
	height: auto; 	
	width: 920px;
	color: white;
	position: relative;
	padding: 10px;
}
